# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
build/
dist/
*.egg

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
.hypothesis/

# Entornos
.venv/
venv/
ENV/
env/

# Editores
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
